# create databse

In [1]:
#Create Databse
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@")
cursor = emp.cursor()
cursor.execute('CREATE DATABASE emp;')

DatabaseError: 1007 (HY000): Can't create database 'emp'; database exists

In [ ]:
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database= "emp")
cursor = emp.cursor()
query = """
    CREATE TABLE employee(
    ID INT,
    NAME TEXT,
    AGE INT,
    SAL INT,
    POSITION VARCHAR(15)
    )"""

cursor.execute(query)

In [22]:
#INSERT DATA IN DATABASE

import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database='emp')
cursor = emp.cursor()

query = """
    INSERT INTO employee(ID,NAME,AGE,SAL,POSITION) VALUES
    (112,'ASHISH',22,'20000','CEO'),
    (01,'RAM',32,'378273','MANAGER')
    
    """
cursor.execute(query)
emp.commit()

In [9]:
# show data


import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database='emp')
cursor = emp.cursor()
cursor.execute("SELECT * FROM employee;")
for i in cursor:
    print("ID IS :",i[0],end="   ")
    print('NAME IS: ',i[1],end="   ")
    print('AGE IS :',i[2],end="   ")
    print('SAL IS :',i[3],end="   ")
    print('POSITION IS :',i[4],end="\n\n")

ID IS : 112   NAME IS:  ASHISH   AGE IS : 22   SAL IS : 20000   POSITION IS : CEO

ID IS : 1   NAME IS:  RAM   AGE IS : 32   SAL IS : 378273   POSITION IS : MANAGER

ID IS : 112   NAME IS:  ASHISH   AGE IS : 22   SAL IS : 20000   POSITION IS : CEO

ID IS : 1   NAME IS:  RAM   AGE IS : 32   SAL IS : 378273   POSITION IS : MANAGER

ID IS : 112   NAME IS:  ASHISH   AGE IS : 22   SAL IS : 20000   POSITION IS : CEO

ID IS : 1   NAME IS:  RAM   AGE IS : 32   SAL IS : 378273   POSITION IS : MANAGER

In [23]:
 # UPDATE DATA
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database='emp')
cursor = emp.cursor()
query = """
UPDATE employee
SET NAME='ASHISH KUMAR'
WHERE ID=112
"""
cursor.execute(query)
emp.commit()

cursor.execute("SELECT * FROM employee;")

for i in cursor:
    print(i)

(1, 'RAM', 32, 378273, 'MANAGER')
(112, 'ASHISH KUMAR', 22, 20000, 'CEO')
(1, 'RAM', 32, 378273, 'MANAGER')
(112, 'ASHISH KUMAR', 22, 20000, 'CEO')
(1, 'RAM', 32, 378273, 'MANAGER')

In [11]:
# DELETE DATA

import mysql.connector as c
emp = c.connect(host= "localhost",
                user='root',
                password='Ashish12@',
               database='emp')
cursor=emp.cursor()
query = """
delete from employee
where ID=1
"""
cursor.execute(query)
emp.commit()
cursor.execute("select * from employee;")
for i in cursor:
    print(i)

(112, 'ASHISH KUMAR', 22, 20000, 'CEO')
(112, 'ASHISH KUMAR', 22, 20000, 'CEO')
(112, 'ASHISH KUMAR', 22, 20000, 'CEO')

In [19]:
# import mysql.connector as a
# emp = a.connect('Driver={SQL Server Native Client 11.0};',

In [20]:
# DELETE DATA

import mysql.connector as c
emp = c.connect(host= "localhost",
                user='root',
                password='Ashish12@',
               database='emp')
cursor=emp.cursor()

id = int(input("ENTER ID NUMBER : "))


query = f"""
delete from employee
where ID={id}
"""
cursor.execute(query)
emp.commit()
cursor.execute("select * from employee;")
for i in cursor:
    print(i)

ENTER ID NUMBER : 112
(1, 'RAM', 32, 378273, 'MANAGER')

In [28]:

 # UPDATE DATA
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database='emp')
cursor = emp.cursor()

id_num = int(input("ENTER ID NUMBER : ")) 
name = input("ENTER NEW NAME : ")
age = int(input("ENTER AGE : "))

query = f"""
UPDATE employee
SET NAME='{name}',AGE={age},
WHERE ID={id_num}
"""
cursor.execute(query)
emp.commit()

cursor.execute("SELECT * FROM employee;")

for i in cursor:
    print(i)

ENTER ID NUMBER : 112
ENTER NEW NAME : SHYAM
ENTER AGE : 43
(1, 'RAM', 32, 378273, 'MANAGER')
(112, 'SHYAM', 43, 20000, 'CEO')
(1, 'RAM', 32, 378273, 'MANAGER')
(112, 'SHYAM', 43, 20000, 'CEO')
(1, 'RAM', 32, 378273, 'MANAGER')