#  Create Database

In [1]:
# Check database is connected 

import mysql.connector as a

my_db= a.connect(host= "localhost",
                        user= 'root',
                              passwd= 'Ashish12@')
cursor = my_db.cursor()
if my_db.is_connected():
    print('Database is Connected ')

Database is Connected

In [2]:
# Creating new database 

import mysql.connector as a

my_db= a.connect(host= "localhost",
                        user= 'root',
                              passwd= 'Ashish12@')
cursor = my_db.cursor()

cursor.execute('CREATE DATABASE new_db;')

DatabaseError: 1007 (HY000): Can't create database 'new_db'; database exists

In [ ]:
# Show databases

import mysql.connector as a

my_db= a.connect(host= "localhost",
                        user= 'root',
                              passwd= 'Ashish12@')
cursor = my_db.cursor()
cursor.execute('SHOW DATABASES;')
for i in cursor:
    print("My Databases is : ",i)

In [ ]:
# Create Table

import mysql.connector as a

my_db= a.connect(host= "localhost",
                 user= 'root',
                 passwd= 'Ashish12@',
                 database= "new_db")
cursor = my_db.cursor()
query = """
    CREATE TABLE student2(
    name VARCHAR(50),
    roll_no INT,
    gender VARCHAR(10),
    addr VARCHAR(100),
    date DATE
    )
    """

cursor.execute(query)

In [ ]:
# Create Table

import mysql.connector as a

my_db= a.connect(host= "localhost",
                 user= 'root',
                 passwd= 'Ashish12@',
                 database= "new_db")
cursor = my_db.cursor()

cursor.execute("SHOW TABLES;")
for i in cursor:
    print(i)

In [4]:
# INSERT VALUES IN TABLES

import mysql.connector as a

my_db= a.connect(host= "localhost",
                 user= 'root',
                 passwd= 'Ashish12@',
                 database= "new_db")
cursor = my_db.cursor()
query = """
INSERT INTO student2(name,roll_no,gender,addr,date) VALUES

('ram',11,'male','noida','2022/02/02'),
('shyam',22,'male','delhi','2019/01/21')

"""
cursor.execute(query)

my_db.commit()
cursor.execute('SELECT * FROM student2;')
for row in cursor.fetchall():
    print("LIST OF MY TABLE : ",row)

my_db.close()

LIST OF MY TABLE :  ('ASHISH', 11, ',male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
LIST OF MY TABLE :  ('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
LIST OF MY TABLE :  ('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
LIST OF MY TABLE :  ('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
LIST OF MY TABLE :  ('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
LIST OF MY TABLE :  ('ram', 11, 'male', 'noida', datetime.date(2022, 2, 2))
LIST OF MY TABLE :  ('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))

In [3]:
# UPDATE DATA


import mysql.connector as a

my_db= a.connect(host= "localhost",
                 user= 'root',
                 passwd= 'Ashish12@',
                 database= "new_db")
cursor = my_db.cursor()
query = """
UPDATE student2 
SET name='ASHISH'
WHERE roll_no=11
"""
cursor.execute(query)
my_db.commit()

cursor.execute('SELECT * FROM student2;')
for i in cursor:
    print(i)

('ASHISH', 11, ',male', 'noida', datetime.date(2022, 2, 2))
('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))
('ASHISH', 11, 'male', 'noida', datetime.date(2022, 2, 2))
('shyam', 22, 'male', 'delhi', datetime.date(2019, 1, 21))