In [1]:
#Create Databse
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@")
cursor = emp.cursor()
cursor.execute('CREATE DATABASE student')

DatabaseError: 1007 (HY000): Can't create database 'student'; database exists

In [ ]:
#CREATE TABLE
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()
query = """
    CREATE TABLE student(
    NAME TEXT,
    ROLL_NO INT,
    AGE INT,
    CLASS VARCHAR(10),
    MARKS FLOAT
    )
"""

cursor.execute(query)
emp.commit()

In [ ]:
#INSERT DATA IN TABLE


import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()

name = input('ENTER YOUR NAME : ')
roll_no = int(input("ENTER ROLL NO : "))
age = int(input("ENTER YOUR AGE : "))
class_name = input("ENTER CLASS NAME : ")
marks = float(input("ENTER YOUR MARKS"))

query = f"""
        INSERT INTO student(NAME,ROLL_NO,AGE,CLASS,MARKS) VALUES
        ("{name}",{roll_no},{age},'{class_name}',{marks})
        """

cursor.execute(query)
emp.commit()

cursor.execute("select * from student;")
for i in cursor:
    print(i)

In [5]:
# READING 

import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()

roll_no= int(input("ENTER ROLL NUMBER : "))

query = f"select * from student where ROLL_NO={roll_no};"
cursor.execute(query)
for i in cursor:
    print(i)

ENTER ROLL NUMBER : 1
('ASHISH KUMAR VERMA', 1, 22, 'BCA', 75.5)

In [6]:

import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()

roll_no= int(input("ENTER ROLL NUMBER : "))

query = f"select NAME from student where ROLL_NO={roll_no};"
cursor.execute(query)
for i in cursor:
    print(i)

ENTER ROLL NUMBER : 3
('AK',)

In [11]:
# DELETE DATA
import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()

roll_no= int(input("ENTER ROLL NUMBER : "))

query = f"delete from student where ROLL_NO={roll_no}"
cursor.execute(query)
emp.commit()
print("DELETE SUCCESSFULLY")

ENTER ROLL NUMBER : 1
DELETE SUCCESSFULLY

In [7]:
# READING 

import mysql.connector as a
emp = a.connect(host="localhost",
               user= "root",
               password = "Ashish12@",
               database ="student")
cursor = emp.cursor()

roll_no= int(input("ENTER ROLL NUMBER : "))

query = f"select * from student where ROLL_NO={roll_no};"
cursor.execute(query)
for i in cursor:
    print(i)

ENTER ROLL NUMBER : 1
('ASHISH KUMAR VERMA', 1, 22, 'BCA', 75.5)